html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Clock
 */

 .clock {
     margin-top: 20px;
     margin-bottom: 20px;
     font-size: 20px;
     text-align: center;
 }

 .clock span {
     padding: 5px;
     font-size: 50px;
     color: #2e3d49;
 }

 .minutes::after {
     content: 'Minutes';
     font-size: 12px;
 }

 .seconds::after {
     content: 'Seconds';
     font-size: 12px;
 }

 .clock .shrink {
     animation: shrink;
     animation-duration: 0.5s;
     animation-iteration-count: 1;
     animation-timing-function: ease-in;
     animation-fill-mode: forwards;
 }

/*
 * Animations
 */

@keyframes wiggle {
    0% {transform: rotateZ(0deg);}
    25% {transform: rotateZ(5deg);}
    50% {transform: rotateZ(0deg);}
    75% {transform: rotateZ(-5deg);}
    100% {transform: rotateZ(0deg);}
}

@keyframes match {
    0% {transform: rotateZ(0deg);}
    25% {transform: rotateZ(90deg);}
    50% {transform: rotateZ(180deg);}
    75% {transform: rotateZ(270deg);}
    100% {transform: rotateZ(360deg);}
}

@keyframes shrink {
    0% {font-size: 20px;}
    25% {font-size: 25px;}
    50% {font-size: 16px;}
    75% {font-size: 8px;}
    100% {font-size: 0px; display: none; margin: 0;}
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 2px 5px 0 rgba(46, 61, 73, 0.5);
    transition: background 0.2s ease;
    animation-name: none;
    animation-duration: 0.2s;
    animation-iteration-count: 2;
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.wrong {
    background: rgb(227, 65, 65);
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}
